<%- include('templates/header'); %>
<header id="mainheader">
    <nav id="navbar">
        <div class="">
            <a href="#mainheader" class="logo"><img src="/static/img/logo2.jpg" alt="logo" /></a>
            <ul>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="lenguajes">Experiencia</a></li>
                <li><a href="about">Sobre mi</a></li>
                <li><a href="contact">Contacto</a></li>
            </ul>
        </div>
    </nav>
<section id="about">
    <div class="">
        <h2>Sobre mi</h2>
        <div class="about-row">
            <div class="about-row-experience">

                <img src="/static/img/avatar1.jpg" alt="Avatar" class="avatar">

            </div>
            <div class="about-row-me">
                <h4>Sobre mi</h4>
                <p>
             Soy Alejandra Mesias, tengo 18 años y actualmente me enfoco en el diseño y rediseño de proyectos especialmente
             hacia el lado del cliente (Front- end, UX/UI).
             Continuamente aprendiendo y adquiriendo habilidades nuevas según las actuales y futuras tecnologias demandadas en el
             campo de diseño web.
                </p>
            </div>
        </div>
    </div>
</section>

<footer id="mainfooter">
    <div class="">
        <a href="https://twitter.com/irimaya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false"
            >Follow @alejamesias</a
        >
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</footer>
</body>
</html>
