<%- include('templates/header'); %>
<header id="mainheader">
    <nav id="navbar">
        <div class="">
            <a href="#mainheader" class="logo"><img src="/static/img/logo2.jpg" alt="logo" /></a>
            <ul>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="lenguajes">Experiencia</a></li>
                <li><a href="about">Sobre mi</a></li>
                <li><a href="contact">Contacto</a></li>
            </ul>
        </div>
    </nav>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contactame</h2>
				<input type="text" class="field" placeholder="Nombre">
				<input type="text" class="field" placeholder="Correo">
				<input type="text" class="field" placeholder="Telefono">
				<textarea placeholder="Mensaje" class="field"></textarea>
				<button class="btncontact">Enviar</button>
			</div>
		</div>
	</div>
</body>
</html>